parameters:
	level: max
	paths:
		- src
		- tests
	excludePaths:
		- src/DataGouv/Client/**
		- src/DataGouv/Api/**
		- src/DataGouv/Exception/**
		- src/DataServices/*/Client/**
		- src/DataServices/*/Api/**
		- src/DataServices/*/Exception/**
